<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css"
    />
    {% load static %}
    <title>Kandidat management</title>
    <link rel="stylesheet" href="{% static 'kandidat/styles.css' %}" />
  </head>
  <body>
    <!-- responsive navbar -->

    <nav
      class="p-3 bg-gray-50 rounded border-gray-200 dark:bg-gray-800 dark:border-gray-700"
    >
      <div
        class="container flex flex-wrap justify-between items-center mx-auto"
      >
        <a href="{% url 'kandidat-home' %}" class="flex items-center">
          <img
            src="{% static 'kandidat/images/ripple.png' %}"
            class="mr-3 h-6 sm:h-10"
            alt="Flowbite Logo"
          />
          <span
            class="self-center text-3xl text-slate-900 font-normal whitespace-nowrap dark:text-white"
            >kandidatapp_</span
          >
          <span
            class="self-center text-3xl text-slate-900 font-normal whitespace-nowrap dark:text-white"
            >{{user.username}}</span
          >
        </a>
        <button
          data-collapse-toggle="navbar-solid-bg"
          type="button"
          class="inline-flex justify-center items-center ml-3 text-gray-400 rounded-xl md:hidden hover:text-gray-900 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:text-gray-400 dark:hover:text-white dark:focus:ring-gray-500"
          aria-controls="navbar-solid-bg"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
          <ul
            class="flex flex-col mt-4 bg-gray-50 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-xl md:font-normal md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700"
          >
            <li>
              <a
                href="#"
                class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-white dark:bg-blue-600 md:dark:bg-transparent"
                aria-current="page"
                >Home</a
              >
            </li>
            <li>
              <a
                href="{% url 'kandidat-home'  %}"
                class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                >Kandidat</a
              >
            </li>
            <li>
              <a
                href="{% url 'kandidat-add' %}"
                class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                >Add</a
              >
            </li>
            {% if request.user.is_authenticated %}
            <li>
              <a
                href="{% url 'logout' %}"
                class="block py-2 pr-4 pl-3 text-red-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-red-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                >Logout</a
              >
            </li>
            {% else %}
            <li>
              <a
                href="{% url 'login' %}"
                class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                >Login</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <!-- Ende responsive navbar -->

    <!-- hier Inhalt der verschiedenen Seiten zwischen -->

    {% block content %} {% endblock %}

    <!-- Ende des Inhalts der verschiedenen Seiten -->
  </body>
  <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
  <script src="{% static 'kandidat/scripts/utils.js' %}"></script>
  <script src="{% static 'kandidat/scripts/jquery.js' %}"></script>
  {% block script %} {% endblock %}
</html>